
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap');

.Photo {
    position:relative; 
    z-index: 999;
    height: 350px;
    width: ;
    text-align: center;
     display: block; 
     margin-left: 10%;
     margin-top: -20%;      
}

h1 {
    margin-left: 10%;
    font-family: 'Martel', serif;
    font-size: 3em;
    color: #808080;
}
#goldenText {
color: #9370DB;
}

body {
    
    border: 25px solid #fafafa;
    border-top-width: 25px;
    border-bottom-width: 50px;
    -webkit-box-shadow: 3px 3px 6px 4px #888;
    -moz-box-shadow: 3px 3px 6px 4px #888;
    box-shadow: 3px 3px 6px 4px #888;
    margin: 2% 20% 0 20%;
    background-color: #D3D3D3;
}
#square{
    background-color: #9370DB;
    width: 200px;
    height:200px;
    display: block;
    z-index: 0;
}

 
 

